/* import poppins google font (400, 700) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Basic Styles */
body { 
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: auto;
    /* The overflow property determines what to do if content overflows an element's 
        box. Setting overflow to hidden will hide/clip the overflowing content. */
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}
  
.btn-1 {
    height: 38px;
    background-color: #eb4442;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

.light, .dark {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.light {
    background-color: #e6e6e6;
    color: #2d2b3e;
}
  
.dark {
    background-color: #2d2b3e;
    color: #e6e6e6;
}

/* Header */
header {
    background-color: #2d2b3e;
    color: #e6e6e6;
    /* Setting min-height so the height for the header section can expand if needed */
    min-height: 70px;
    border-bottom: 3px solid #eb4442;
    padding: 5px 0;
}
  
header .container {
    display: flex;
    justify-content: space-between;
}
  
header ul {
    height: 100%;
    display: flex;
    align-items: center;
}

header li {
    /* Removes the bullet point or number on a list item */
    list-style: none;
    padding: 0 20px;
}
  
header a {
    color: #e6e6e6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

#highlight, #current a {
    color: #eb4442;
    font-weight: bold;
}
  
a:hover {
    color: #ccc;
    font-weight: bold;
}

#showcase {
    min-height: 400px;
    background-image: url("laptop.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
  
#showcase h1 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
}

#showcase h3 {
    font-size: 28px;
}
  
#showcase p {
    font-size: 20px;
}

#aside {
    font-size: 0.75em;
    font-style: italic;
}

#italic {
    font-style: italic;
}

/* Newsletter */
#newsletter {
    background-color: #2d2b3e;
    padding: 15px;
    color: #e6e6e6;
}
  
#newsletter .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
#newsletter input {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Boxes */
#boxes {
    margin-top: 20px;
  }
  
#boxes .container {
    display: flex;
    justify-content: space-between;
}

#boxes p {
    text-align: center;
}
  
.box {
    width: 30%;
    text-align: center;
    padding: 10px;
}
  
i {
    font-size: 225px;
}
  
.fa-html5 {
    color: #d45632;
}
  
.fa-css3-alt {
    color: #2d50dc;
}
  
.fa-js {
    color: #f3df50;
}